body {
	margin: 0;
}

h1 {
	color: #0d2449;
	text-align: center;
	font-family: "Courier New";
	font-weight: lighter;
	font-size: 50px;
	padding-top: 20px;
	margin: 0;
}

p {
	color: #0d2449;
}

.menu-bar {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #EAEAEA;
}

.not-heading {
	background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(229,192,167,1) 75%); 
	height: 100%;
}

.top-left-button {
	text-decoration: none;
	font-size: 50px;
	padding-left: 30px;
	color: #890039;
	font-family: "Courier New";
}

.button {
	float: right;
	text-decoration: none;
	font-size: 25px;
	padding-right: 30px;
	color: #890039;
	font-family: "Courier New";
	padding-top: 15px;
}

img {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	padding-top: 30px;
}

.quote {
	font-family: "Courier New";
	text-align: center;
	padding-top: 30px;
	color: #890039;
}