body {
	margin: 0;
}

h1 {
	color: #0d2449;
	text-align: center;
	font-family: "Courier New";
	font-weight: lighter;
	font-size: 45px;
	margin: 0;
	padding-top: 50px;
}

h3 {
	color: #0d2449;
	font-size: 30px;
	font-weight: normal;
}

p {
	color: #0d2449;
}



.menu-bar {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #EAEAEA;
}

.not-heading {
	background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(229,192,167,1) 75%); 
	height: 150%;
}

.initials {
	float: left;
	text-decoration: none;
	font-size: 25px;
	padding-left: 30px;
	color: #0d2449;
	font-family: "Courier New";
	padding-top: 15px;
	font-weight: bold;
}

.initials:hover {
	color: #890039;
}

.name {
	color: #890039;
	font-weight: normal;
}

.button {
	float: right;
	text-decoration: none;
	font-size: 25px;
	padding-right: 30px;
	color: #890039;
	font-family: "Courier New";
	padding-top: 15px;
}

.button:hover {
	color: #0d2449;
}

.resume-contents {
	padding-left:10%;
	font-family: "Verdana";
	font-size: 15px;
	padding-right: 10%;
}

.skills {
	text-indent: 20px;
	line-height: 17px;
}

.school {
	text-indent: 20px;
	font-weight: bold;
}

.school-description {
	text-indent: 20px;
	font-style: italic;
}

.job {
	text-indent: 20px;
}

.date {
	font-weight: normal;
	font-style: italic;
}

.job-title {
	font-weight: bold;
}

.description {
	font-style: normal;
}

.activity {
	font-weight: bold;
	text-indent: 20px;
}