body {
	margin: 0;
}

h1 {
	color: #0d2449;
	text-align: center;
	font-family: "Avenir";
	font-weight: lighter;
	font-size: 45px;
	padding-top: 70px;
	padding-bottom: 30px;
	margin: 0;
}

.writingsample {
	color: #890039;
	text-align: center;
	font-family: "Avenir";
	font-weight: lighter;
	font-size: 35px;
	padding-top: 25px;
	margin: 0;
	text-decoration: none;
	display:block;
}
.writingsample:hover {
	color: #0d2449;
	text-align: center;
	font-family: "Avenir";
	font-weight: lighter;
	font-size: 35px;
	padding-top: 25px;
	margin: 0;
}

p {
	color: #0d2449;
}

.post-description {
	color: #0d2449;
	text-align: center;
	font-family: "Avenir";
	font-weight: lighter;
	font-size: 20px;
	padding-bottom: 30px;
	margin: 0;
	font-style: italic;

}

.menu-bar {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #EAEAEA;
}

.not-heading {
	background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(229,192,167,1) 75%); 
	height: 100%;
	padding-bottom: 300px;
}

.initials {
	float: left;
	text-decoration: none;
	font-size: 25px;
	padding-left: 30px;
	color: #0d2449;
	font-family: "Courier New";
	padding-top: 15px;
	font-weight: bold;
}


.name {
	color: #890039;
	font-weight: normal;
	font-family: "Avenir";

}

.button {
	float: right;
	text-decoration: none;
	font-size: 25px;
	padding-right: 30px;
	color: #890039;
	font-family: "Avenir";
	padding-top: 15px;
}

.button:hover {
	color: #0d2449;
}




